{{# SPDX-FileCopyrightText: 2026 Oscar Bender-Stone <oscar-bender-stone@protonmail.com> #}}
{{# SPDX-License-Identifier: CC0-1.0 #}}
{{# SPDX-FileContributor: Google Gemini <https://gemini/google.com> */ #}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title || "My Site" }}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

  <header class="site-header">
    <div class="header-banner">
      <h1 class="site-title-heading">
        <a href="/" class="site-title-link">Oscar Bender-Stone</a>
      </h1>
      <div id="search" class="site-search"></div>
    </div>

    {{ comp.nav() }}
  </header>

  <main data-pagefind-body>
    {{ content }}
  </main>

  <footer class="site-footer">
    <p>Copyright &copy; {{ new Date().getFullYear() }} Oscar Bender-Stone.</p>
  </footer>

</body>

</html>
