/* SPDX-FileCopyrightText: 2026 Oscar Bender-Stone <oscar-bender-stone@protonmail.com> */
/* SPDX-License-Identifier: MIT */

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("assets/fonts/atkinson-hyperlegible-next/AtkinsonHyperlegibleNext-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("assets/fonts/atkinson-hyperlegible-next/AtkinsonHyperlegibleNext-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-primary: "Atkinson Hyperlegible Next", sans-serif;
}

body {
  font-family: var(--font-primary);
  font-size: 16px;
}

small {
  color: #000000
}

.circle-image {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: fill;
  overflow-inline: hidden;
  flex-shrink: 0
}

/* Backup in case image doesn't load. */
.circle-image:after {
  content: attr(alt);
  user-select: text;
  display: block;
  position: absolute;
  top: 210px;
  left: 0;
  width: 100%;
  color: #333;
  border-radius: 0;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 20px
}

.column {
  flex: 50%;
}
