/* SPDX-FileCopyrightText: 2026 Oscar Bender-Stone <oscar-bender-stone@protonmail.com> */
/* SPDX-License-Identifier: MIT */

.circle-image {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: fill;
  overflow-inline: hidden;
}

/* Backup in case image doesn't load. */
.circle-image:after {
  content: attr(alt);
  user-select: text;
  display: block;
  position: absolute;
  top: 210px;
  left: 0;
  width: 100%;
  color: #333;
  border-radius: 0;
}


.row {
  display: flex;
  align-items: flex-start;
  gap: 20px
}

.column {
  flex: 50%;
}

small {
  color: #000000
}
